<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('_bootstrap_meta')%>
    <!-- Include Bootstrap meta tags -->
    <title>Sign Up</title>
    <style>
        /* Custom CSS for responsive design */
        .main-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .form-container {
            width: 90%;
            max-width: 400px;
            padding: 20px;
            background: white;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body style="background-color: #e6e9e9">
    <!-- Include header -->
    <%- include('_header')%>
    <div class="main-container">
        <!-- Main content container -->
        <div class="form-container">
            <div class="text-center mb-4">
                <!-- Title for the sign-up form -->
                <h4>Sign Up</h4>
            </div>
            <!-- Sign-up form -->
            <form action="/users/create" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <!-- Input field for name -->
                    <input type="text" class="form-control" id="name" name="name" placeholder="John Doe" required/>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <!-- Input field for email -->
                    <input type="email" class="form-control" id="email" placeholder="abc@email.com" name="email" required />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <!-- Input field for password -->
                    <input type="password" class="form-control" id="password" name="password" required />
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <!-- Input field for confirming password -->
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required />
                </div>
                <div class="mb-4">
                    <!-- Button to submit the sign-up form -->
                    <button type="submit" class="btn btn-success btn-block">Sign Up</button>
                </div>
            </form>
            <div class="text-center">
                <!-- Link to redirect to login page -->
                <a href="/users/signin">Log in Instead</a>
            </div>
        </div>
    </div>
    <!-- Include Bootstrap scripts -->
    <%- include('_bootstrap_script')%>
</body>
</html>
